In [2]:
#list indexing
l1 = [1,2,3,4,5]
l2 = [23,5,6,2,5]
l3 =[6,8,3,6,8]

In [3]:
#reverse
l1.reverse()
l1

[5, 4, 3, 2, 1]

In [4]:

l1

[5, 4, 3, 2, 1]

In [5]:
l4=[l1,l2,l3]

In [6]:
l4

[[5, 4, 3, 2, 1], [23, 5, 6, 2, 5], [6, 8, 3, 6, 8]]

In [7]:
l4.reverse()
l4

[[6, 8, 3, 6, 8], [23, 5, 6, 2, 5], [5, 4, 3, 2, 1]]

In [8]:
l4

[[6, 8, 3, 6, 8], [23, 5, 6, 2, 5], [5, 4, 3, 2, 1]]

In [12]:
#take the last elament 8 in the list inside the list
l4[0][4]

8

In [44]:
#count
l1.count(1)

1

In [45]:
#find the count of int in list inside the list
l4.count(3) #zero will answer

0

In [46]:
#append
lst =['subash',4,6,2,'sub',[1,2,34]]
l1.append(lst)
l1

[1, 2, 3, 4, 5, ['subash', 4, 6, 2, 'sub', [1, 2, 34]]]

In [47]:
#append the string inside the
lst.append("mack")

In [48]:
lst

['subash', 4, 6, 2, 'sub', [1, 2, 34], 'mack']

In [49]:
l1.append(lst)

In [50]:
lst

['subash', 4, 6, 2, 'sub', [1, 2, 34], 'mack']

In [51]:
#extend function
#we can't extend the list by using integers
lst.extend(45)

TypeError: 'int' object is not iterable

In [52]:
#we can extend the str in list
lst.extend('Mcas')

In [53]:
lst

['subash', 4, 6, 2, 'sub', [1, 2, 34], 'mack', 'M', 'c', 'a', 's']

In [54]:
#we can extend the list by using the list
lst.extend([89,78,62,48])
lst # it will iterate the list and extend the list in one by one value in the list

['subash',
 4,
 6,
 2,
 'sub',
 [1, 2, 34],
 'mack',
 'M',
 'c',
 'a',
 's',
 89,
 78,
 62,
 48]

In [55]:
#index function
#it will print the given value index
lst.index(89)

11

In [60]:
lst1 =[90,80,92,13,30]
lst1.index(80)

1

In [68]:
#insert and append4
#append function will apend the given element at last of the list
lis=[1,2,3,4,5]
lis.append('sub')
lis

[1, 2, 3, 4, 5, 'sub']

In [69]:
#insert
#we can insert the elemnent on the particular list
lis.insert(1,'mac') #(index,value)

In [70]:
lis

[1, 'mac', 2, 3, 4, 5, 'sub']

In [71]:
#appends single element inside the list at last index
#insert a single item in the particular position
#extend -append the element in iteratable method

In [77]:
#pop
ll=['1',3,4,5,6,2,5]
ll.pop() #pop will remove last element in the list by default

5

In [78]:
#we can remove the particular element inside list by using indexing
ll.pop(4) #4 is indexig

6

In [80]:
#remove function
#remove function will remove the value which is given
lll =[1,2,3,4,5,6,6,7,8]
lll.remove(4)
lll

[1, 2, 3, 5, 6, 6, 7, 8]

In [82]:
l =[1,2,3,4]
l[2] #indexing

3

In [84]:
#change the value inside the list by using the index
l[2] ='subash'
l

[1, 2, 'subash', 4]

In [85]:
#String
s ='iNeuron'

In [88]:
s[2] #string indexing

'e'

In [89]:
#we can't replace string value by using indexing
#why beacuse the string is immutable list is mutable
s[2]='a'

TypeError: 'str' object does not support item assignment

In [110]:
#tuple()
#tuple is also like a list but it is immutable we can't change anything after the declaration
t= ('subash',4,8.9,True,False)

In [112]:
t

('subash', 4, 8.9, True, False)

In [113]:
type(t)

tuple

In [116]:
#Indexing
t[1]

4

In [117]:
t[0]

'subash'

In [118]:
#try to change the value inside the tuple because tuple' object does not support item assignment
t[1] ='mac'

TypeError: 'tuple' object does not support item assignment

In [122]:
t[0:4]

('subash', 4, 8.9, True)

In [126]:
t[::-1] #reverse the tuple

(False, True, 8.9, 4, 'subash')

In [127]:
t[::2] #every even element will print

('subash', 8.9, False)

In [129]:
t[0:4:3]

('subash', True)

In [131]:
t[0:4:-1] #this jump wont happpen

()

In [132]:
#tuple concat
t1 =(3,5,7,'o')
t1+t

(3, 5, 7, 'o', 'subash', 4, 8.9, True, False)

In [137]:
#count
tup =(1,2,1,8,1,6,4,6,2,1,3,7)
tup.count(1) #count of value'1'

4

In [138]:
tup.count(7)

1

In [139]:
tup.count(6)

2

In [140]:
#convert the tuple to list
lis =list(tup)

In [141]:
lis

[1, 2, 1, 8, 1, 6, 4, 6, 2, 1, 3, 7]

In [143]:
#conver the list to tuple
t1 =tuple(lis)
t1

(1, 2, 1, 8, 1, 6, 4, 6, 2, 1, 3, 7)

In [146]:
#dictionary{}
dic ={'Name':'subash','Age':22,'Place':'Attur'}

In [147]:
dic

{'Name': 'subash', 'Age': 22, 'Place': 'Attur'}

In [150]:
dic.keys()

dict_keys(['Name', 'Age', 'Place'])

In [151]:
dic.values()

dict_values(['subash', 22, 'Attur'])

In [153]:
type(dic)

dict

In [154]:
d ={1}

In [155]:
type(d)

set

In [156]:
#dic and set bothe are mostley same but in dic we have key and values
#both are declared inside the {}
#if there is any key and value inside the curly brace then it will consider as dict
#if ther is only single comma separated values then it will consider as the set
#while checking the type of both if anything is entered inside the curly based on the value it will give the type
#if nothing was mentioned inside the curly brace it will consider as dict
d={}

In [157]:
type(d)

dict

In [158]:
d1={1}

In [159]:
type(d1)

set

In [169]:
dic ={'Name':'subash','Age':22,'Place':'Attur'}

In [170]:
dic['Name'] #get the values by using key

'subash'

In [171]:
#changing the value in dic by using the key
dic['Name'] ='Shalini'

In [172]:
dic

{'Name': 'Shalini', 'Age': 22, 'Place': 'Attur'}

In [173]:
dict1 ={'Name':'subash','Courses':['Python','NLP','CV','Bigdata']}

In [174]:
dict1['Courses']

['Python', 'NLP', 'CV', 'Bigdata']

In [178]:
"Python" in dict1['Courses']

True

In [179]:
#add the new key and value inside the dict
dict1['Pincode'] =636108
dict1

{'Name': 'subash',
 'Courses': ['Python', 'NLP', 'CV', 'Bigdata'],
 'Pincode': 636108}

In [180]:
#add the dic indside dic
dict1["new"] =dic
dict1

{'Name': 'subash',
 'Courses': ['Python', 'NLP', 'CV', 'Bigdata'],
 'Pincode': 636108,
 'new': {'Name': 'Shalini', 'Age': 22, 'Place': 'Attur'}}

In [182]:
#get the value of plce inside the dict1
dict1['new']

{'Name': 'Shalini', 'Age': 22, 'Place': 'Attur'}

In [183]:
dict1['new']['Place']

'Attur'

In [184]:
d5 ={@:"sjkdjha"} #@not allowing

SyntaxError: invalid syntax (4012774494.py, line 1)

In [187]:
d5 ={_:"sjkdjha"} #_ is only allowing
d5[_]

'sjkdjha'

In [188]:
#tuple can allow to use as key
d6 ={(1,2,3,4,):"dajbdajbd"}
d6

{(1, 2, 3, 4): 'dajbdajbd'}

In [189]:
d6[(1,2,3,4)]

'dajbdajbd'

In [190]:
#list can't allow to use as key
d7 ={[1,2,3,4]:"dajbdajbd"}
d7

TypeError: unhashable type: 'list'

In [191]:
#dic inside dic also not allowing as key
#list can't allow to use as key
d7 ={{1:2}:"dajbdajbd"}
d7

TypeError: unhashable type: 'dict'

In [192]:
dic.get("Name")

'Shalini'

In [193]:
dict1.items()

dict_items([('Name', 'subash'), ('Courses', ['Python', 'NLP', 'CV', 'Bigdata']), ('Pincode', 636108), ('new', {'Name': 'Shalini', 'Age': 22, 'Place': 'Attur'})])

In [200]:
dict11 =dict1.items()
type(dict11)

dict_items

In [194]:
#concat was not allowing to do for dict
dic+dict1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [196]:
dict1.pop("Name")

'subash'

In [197]:
dict1

{'Courses': ['Python', 'NLP', 'CV', 'Bigdata'],
 'Pincode': 636108,
 'new': {'Name': 'Shalini', 'Age': 22, 'Place': 'Attur'}}

In [198]:
dict1['Name'] ='Subash'

In [199]:
dict1

{'Courses': ['Python', 'NLP', 'CV', 'Bigdata'],
 'Pincode': 636108,
 'new': {'Name': 'Shalini', 'Age': 22, 'Place': 'Attur'},
 'Name': 'Subash'}

In [202]:
#Set{}
s ={1,2,4,4,5,6}

In [203]:
s

{1, 2, 4, 5, 6}

In [205]:
s.add(19)

In [206]:
s

{1, 2, 4, 5, 6, 19}

In [217]:
#set is not accepting the duplicates
#set is muttable
#set not iteratable
#set is unordered 
#for example pop() will remove the randonm value in the list
#set function is automatically orederd the values by asscending when the values are only numbers
s.pop()

19

In [213]:
s1 ={45,78,78,9,96,96,85,15,5,5}

In [214]:
s1

{5, 9, 15, 45, 78, 85, 96}

In [215]:
s2 ={'subash','mac',45,78,59,5}

In [216]:
s2

{45, 5, 59, 78, 'mac', 'subash'}

In [218]:
s2.remove(45)

In [219]:
s2

{5, 59, 78, 'mac', 'subash'}

In [220]:
s2[0]

TypeError: 'set' object is not subscriptable

In [224]:
s2.add(45) #if only the given value is not available inside the set

In [225]:
s2

{45, 5, 59, 78, 'mac', 'subash'}

In [228]:
#change the set to list
lis = list(s2)

In [229]:
lis

[45, 5, 'subash', 'mac', 59, 78]

In [230]:
#list to set

In [231]:
l =[1.1,8,7,58,58,4,5,45,4,5,4,5,5]
l

[1.1, 8, 7, 58, 58, 4, 5, 45, 4, 5, 4, 5, 5]

In [232]:
set(l)

{1.1, 4, 5, 7, 8, 45, 58}

In [234]:
#store tuple inside the set
s2 = {(1,1.2,8),45,78,78,9,96,96,85,15,5,5}

In [235]:
s2

{(1, 1.2, 8), 15, 45, 5, 78, 85, 9, 96}

In [236]:
s2.remove(5)

In [237]:
s2

{(1, 1.2, 8), 15, 45, 78, 85, 9, 96}

In [239]:
s2.discard(15)

In [240]:
s2

{(1, 1.2, 8), 45, 78, 85, 9, 96}

In [241]:
s2.remove(4555) #if the given value is not available inside the set then it will not remove

KeyError: 4555

In [248]:
# #if the given value is not available inside the set then it will don't display any error
s2.discard(5454554544)

In [249]:
s2

{(1, 1.2, 8), 45, 78, 85, 9, 96}

In [252]:
#try to create dic indside dict
d ={"Name":"suabsh","subj1":"eng","subj2":"tamil","subj3":"Maths",{"subj4":"Science","subj5":"Social"}}

SyntaxError: invalid syntax (354305500.py, line 2)

#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [259]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [260]:
l.reverse()

In [261]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [264]:
#get the 234 tuple value in the list
l[1][0]

234

In [268]:
l[3][1]

456

In [271]:
l[2:4]

[[345, 56, 87, 8, 98, 9], [23, 456, 67, 8, 78, 78]]

In [275]:
l[0]['key1']

'sudh'

In [276]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [283]:
l[0].keys()

dict_keys(['key1', 234])

In [281]:
dic = l[0]
print(dic.keys())

dict_keys(['key1', 234])

In [282]:
l[0].values()

dict_values(['sudh', [23, 45, 656]])